ion-content.background {
    --background: url(../../assets/export.png) no-repeat center;
    h1,
    p {
        color: black;
    }
    .estudo {
        margin: 10px 10x;
        border-radius: 2%;
        background-color: rgba(255, 255, 255, 0.6);
    }
}