<ion-header>
    <ion-toolbar>
        <ion-title>
            Entenda!
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background">
    <div class="container">
        <div class="estudo">
            <h1> Sobre pesca consciente</h1>
            <p><b>As práticas de pesca fazem de tudo para suprir a demanda no mundo de hoje, mas a vida marinha sofre muito com isso.</b></p>
            <p><b>Um dos maiores causadores de mortes na vida marinha é o Bycatch é um termo em inglês usado para definir as espécies que são mortas nas pescarias, mas não são alvo dessas pescarias.</b></p>
            <p><b>Outra atividade que agride muito o ecossistema marinho é chamada de Redes Fantasmas, isso acontece quando redes de pescas são abandonadas no fundo do mar, agredindo vida marinha que entra em contato</b></p>
        </div>
    </div>
</ion-content>