ion-content.background {
    --background: url(../../assets/tatuga.png) no-repeat center;
    @media (max-width: 487px) {
        --background: url(../../assets/tatugaMenor.png) no-repeat center;
    }
    background-color: #ABEFF5;
    h1,
    p {
        color: black;
    }
    .estudo {
        margin: 10px 10x;
        border-radius: 2%;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .container {
        margin: 5%;
    }
}