<ion-header class="header">
    <ion-toolbar>
        <ion-title>
            Pesquise!
            <ion-button *ngIf="!loginStatus" (click)="login()">login</ion-button>
            <ion-button *ngIf="loginStatus" (click)="logout()">logout</ion-button>
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content class="background">
    <h1>Descubra se a pesca do seu peixe foi consciente.</h1>
    <ion-input [(ngModel)]="empresa" placeholder="Empresa"></ion-input>
    <ion-button (click)="getEmpresa()">Pesquisar</ion-button>
    <div *ngIf="logs" class="log">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <span>Empresa</span>
                </ion-col>
                <ion-col>
                    <span>Selo Empresa</span>
                </ion-col>
                <ion-col>
                    <span>Agentes Empresa</span>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid *ngFor="let log of logs">
            <ion-row>
                <ion-col>
                    <span>{{this.empresa}}</span>
                </ion-col>
                <ion-col>
                    <span>{{log.empresaSelo}}</span>
                </ion-col>
                <ion-col>
                    <span>{{log.agentesSelo}}</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>