.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

ion-header.header {
    background-color: #ADE4FA;
}

ion-content.background {
    --background: url(../../assets/coral.png) no-repeat;
    h1 {
        color: #6BFFF7;
    }
}