<ion-header class="header">
    <ion-toolbar>
        <ion-title>
            Pesquise!
            <ion-button size="small" fill="outline" *ngIf="!loginStatus" (click)="login()">login</ion-button>
            <ion-button size="small" fill="outline" *ngIf="loginStatus" (click)="logout()">logout</ion-button>
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content class="background">
    <div class="container">
        <h1>Descubra se a pesca do seu peixe foi consciente.</h1>
        <ion-input [(ngModel)]="empresa" placeholder="Empresa"></ion-input>
        <ion-button (click)="getEmpresa()">Pesquisar</ion-button>
        <div *ngIf="logs" class="log">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <span><b>Empresa</b></span>
                    </ion-col>
                    <ion-col>
                        <span><b>Selo da Empresa</b></span>
                    </ion-col>
                    <ion-col>
                        <span><b>Selo dos Agentes</b></span>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid *ngFor="let log of logs">
                <ion-row>
                    <ion-col>
                        <span>{{this.empresaPesquisada}}</span>
                    </ion-col>
                    <ion-col>
                        <span *ngIf="log.empresaSelo">Consciente</span>
                        <span *ngIf="!log.empresaSelo">Não consciente</span>
                    </ion-col>
                    <ion-col>
                        <span *ngIf="!log.agentesModif">Não verificado</span>
                        <span *ngIf="log.agentesSelo && log.agentesModif">Consciente</span>
                        <span *ngIf="!log.agentesSelo && log.agentesModif">Não consciente</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>

</ion-content>