ion-content.background {
    --background: url(../../assets/baleias.png) no-repeat center;
    @media (max-width: 487px) {
        --background: url(../../assets/BaleiaMenor.png) no-repeat bottom;
    }
    background-color: #ABEFF5;
    h1 {
        color: black;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    ion-input {
        color: black;
    }
    .container {
        margin: 5%;
    }
    .aguarde {
        bottom: 0;
        position: fixed;
    }
}

ion-footer {
    background-color: #ABEFF5;
}